.city{
    padding-left: 120px;
}
.system{
    width: 50%;
}
.link1{
    margin-left:110px;
    display: inline-block;
}
.link2{

    display: inline-block;
    margin-left:20px;
}
.link3{
    display: inline-block;
    margin-right: 600px;
    margin-left:20px;
}
.link4{
    display: inline-block;
}
.system{
    margin-left:110px;
    display: inline-block;
}
.tel{
    margin-left:300px;
    display: inline-block;
}
.logo{
    margin-left:25px;
}
.org{
    display: inline-block;
}
.works{
    margin-left:500px;
    display: inline-block;
}
.time_work{
    display: inline-block;
}
